<h1>List of cities</h1>

<button class="btn btn-default">
  <%= link_to "Add", new_city_path %>
</button>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>region name</th>
  </tr>
  <% @cities.each do|city| %>
      <tr>
        <td>
          <%= city.id %>
        </td>
        <td>
          <%= city.name %>
        </td>
        <td><%if city.region_id == 0 %>
              <%= Region.find(city.region_id + 1).name %>
          <% else %>
              <%= Region.find(city.region_id).name %>
          <% end %>
        </td>
        <td>
          <%= link_to "Edit", edit_city_path(city) %>
        </td>
        <td>
          <%= link_to "Delete", city, method: :delete %>
        </td>
  <% end %>
  </tr>
</table>

<%= will_paginate @cities%>

